<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuuJR9pj8MltO8B0x8UMQoLap9Dvbs3lY</string>
	<key>GCM_SENDER_ID</key>
	<string>578208096118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.novalabstudios.dietvisionapp</string>
	<key>PROJECT_ID</key>
	<string>dietvision-5e511</string>
	<key>STORAGE_BUCKET</key>
	<string>dietvision-5e511.firebasestorage.app</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:578208096118:ios:4360db3dfdf64e94cc6457</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
</dict>
</plist>
